﻿.letterOriginal {

}

.letterVariant {
    width: 28px;
    float: left;
    height: 55px;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
}
.insertField {
    text-transform: uppercase;
    float: left;
    width: 100%;
    border: none;
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
}