
.container {
	width: 850px;
}


.letterVariant {
    width: 4%;
    height: 60px;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
}
.letterVariant .insertField {
    border: none;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
}