<div class="clarin-social">
    <div class="adv megaexpandible"></div>
    <section ng-controller="PostsCtrl">

        {{APP_NAME}}



        <div class="header-clasocial">
            <div class="header-left">
                <img src="images/bullet-clarin.png" alt="Clarín" class="l">
                <div class="titles l">
                    <h2>{{pageTitle}}</h2>
                    <h3>{{subTitle}}</h3>
                </div>
            </div>
            <div class="header-right">
                <div>
                    <p>Comparti con Clarín Social</p>
                    <div id="shareContainer">
                    </div>
                    <script type="text/javascript">
                        gigya.socialize.showShareBarUI(showShareBarUI_params);
                    </script>
                </div>

                <div class="selects">

                    <!-- <select class="first" ng-model="filterpostSec.fatherName.fatherName"> -->
                    <select class="first" ng-model="sectionValue">
                        <option ng-repeat="section in sections" value="{{section.id}}">{{section.name}}</option>
                    </select>

                    <select class="second" ng-model="filterpostDate.code" ng-options="item.code as item.name for item in times track by item.code">
                    </select>
                </div>
            </div>

        </div>


        <div>
            {{notas.title}}
            <br>
            {{notas.publishedDate}}
            <br>
            {{notas.contentId}}
        </div>


        <div>
            <!-- <div ng-repeat="item in articulos | filter:filterpostSec | orderBy:'publishedDate':true"> -->
            <div ng-repeat="item in articulos | filter:filterpostSec | orderBy:['publishedDate', 'totalShare']:true">
                {{getFatherName($index)}}
                {{functionGetShared('http://www.clarin.com' + item.url, $index)}}
                <article>
                    <div class="mg l">
                        <figure>
                            <div ng-if="item.related.relatedThumbnail.0.imageClippings.3.url != null">
                                <img src="http://clarin.com{{item.related.relatedThumbnail.0.imageClippings.3.url}}" alt="">
                                <span ng-click="changeClass($index + 1)" id="shareBoxActive_{{$index + 1}}" class="icon-share showClass">&nbsp;</span>
                            </div>
                            <div ng-if="item.related.relatedThumbnail.0.imageClippings.3.url == null">
                                <img src="{{baseIMG}}" alt="{{item.title}}">
                                <span ng-click="changeClass($index + 1)" id="shareBoxActive_{{$index + 1}}" class="icon-share-bk showClass">&nbsp;</span>
                            </div>

                            <p ng-if="item.related.relatedThumbnail.0.imageClippings.3.url != null" class="item-number showClass">
                                {{$index + 1}}
                            </p>

                            <p ng-if="item.related.relatedThumbnail.0.imageClippings.3.url == null" class="item-number showClass" style="color:#000;">
                                {{$index + 1}}
                            </p>

                            <div ng-class="class" id="shareBox_{{$index + 1}}" class="box-share hideClass">
                                <div class="share"></div> 
                                <div class="shared">
                                    <p class="compartilo">Compartilo!</p>
                                        
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.clarin.com{{item.url}}" target="_blank" class="fb-share"></a>

                                        <a href="https://twitter.com/intent/tweet?text={{item.title}} - Vía @ClarinCom -  http://www.clarin.com{{item.url}}" class="tw-share"></a>
                                    
                                    <div ng-click="closeClass($index + 1)" id="shareBoxClose_{{$index + 1}}" class="icon-close">x</div>
                                </div> 
                            </div>

                        </figure>
                        
                    </div>

                    <div class="mt l">
                        <div class="top">

                            <a href="http://www.clarin.com{{item.url}}" title="{{item.title}}" target="_blank">
                                <img src="{{getIcon(item.url)}}" alt="Clarín">
                            </a>
                            
                            <p class="time r">{{funcionParseTime(item.publishedDate)}}</p>
                        </div>
                        <a href="http://www.clarin.com{{item.url}}" title="{{item.title}}" target="_blank">
                            <h3>{{item.title}}</h3>
                        </a>
                        <div class="bottom">
                            <div class="compartidas l">
                                <p class="count">
                                    {{item.totalShare}}
                                </p>
                                <p class="comp">Compartidas</p>
                                
                            </div>
                            <div class="fb-compartidas l">
                                <p>{{item.fbShare}}</p>
                            </div>
                            <div class="tw-compartidas l">
                                <p>{{item.twShare}}</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article ng-if="$index == 2" class="banners-right">
                   <div class="banner">                        
                   </div>
                  <div class="banner">        
                   </div>        
                </article>

    
            </div>
        </div>

    </section>

</div>